div#footer {
    background-color: #59B;
    list-style-type: none;
}

div#contactlist {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
}

div ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}