body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/footerimage.png');
    background-size: cover;
    background-position: center;

}

#header {
    height: 100px;
    width: 100%;
    background: lightskyblue;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header img{
        max-height: 100%;
        max-width: 100%;
}

#main {
    width: 60%;
    height: auto;
}