body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/mainimage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
}

#title_container {
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-weight: bold;
    color: black;
}

#main_container {
    display: flex;
    align-items: center;
    gap: 200px;
}

#sale_container {
    /*border: 5px solid;*/
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    background-color: #DCD6F7;
    position: relative;
    left: 100px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    padding-top: .2px;
    border-radius: 30px;
}

#shop_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    left: 800px;
    top: -400px;

    width: 70%;
    max-width: 200px;
    
    background-color: green;

    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    padding: 15px 32px;

    border-radius: 30px;

    cursor: pointer;
    
    
}

#shop_button:hover {
    background-color: red;
}


