div#menu {
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
    margin: 1em;
    border: 1em double black;
    border-radius: 1em;
    padding: 1em;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 89.5vw;
}

.sticky + #content {
    padding-top: 180px;
}

div#menutext {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: red;
}

div#name {
    padding-bottom: 1em;
}

div#slogan {
    padding-top: 1em;
}

div#logo {
    margin-right: 20%;
}

div#buttons {
    margin-left: 20%;
    display: flex;
    flex-direction: row-reverse;
}

div#login {
    border: 0.5em solid black;
    border-radius: 1em;
    background-color: #FA1;
}

div#login form fieldset{
    display: flex;
    flex-direction: column;
    border: 0 none;
    text-decoration: none;
}

input[name="login"] {
    border: 2px solid black;
    justify-content: left;
    border-radius: 0.5em;
    background-color: #368;
    color: #FA1;
}

input[name="login"]:hover {
    background-color: #38F;
    color: #9F0;
    cursor: pointer;
}

div#cart a {
    display: block;
    text-decoration: none;
    background-color: #FA1;
    border: 0.5em solid black;
    border-radius: 1em;
    padding: 1em;
}

div#cart a:hover {
    background-color: #9F0;
    color: #368;
}