<!-- Important Notice 
<div class="important-notice">
    <strong>Important:</strong> Press on the book picture to add it to your shopping cart.
</div>-->

    <!-- Book Catalog Page -->
    <h1>Book Catalog Page</h1>
    <div class="book-grid" id="book-catalog">
        <!--<div class="book-grid"> 
            <div class="book-item" onclick="addToCart('Game of Thrones', 'George R. R. Martin', 15)">
                <img src="images/game_of_thrones.jpg" alt="Game of Thrones">
                <div class="book-detAails">
                    <p><strong>Name of Book:</strong> Game of Thrones</p>
                    <p><strong>Author:</strong> George R. R. Martin</p>
                    <p class="price"><strong>Price:</strong> $15</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('Harry Potter and the Order of the Phoenix', 'J K Rowling', 10)">
                <img src="images/harry_potter_and_the_order_of_the_phoenix.jpg" alt="Harry Potter and the Order of the Phoenix">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> Harry Potter and the Order of the Phoenix</p>
                    <p><strong>Author:</strong> J K Rowling</p>
                    <p class="price"><strong>Price:</strong> $10</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('The Hobbit', 'J.R.R. Tolkien', 14.99)">
                <img src="images/the_hobbit.jpg" alt="The Hobbit">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> The Hobbit</p>
                    <p><strong>Author:</strong> J.R.R. Tolkien</p>
                    <p class="price"><strong>Price:</strong> $14.99 CAD</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('The Fellowship Of The Ring', 'J.R.R. Tolkien', 8.99)">
                <img src="images/the_fellowship_of_the_ring.jpg" alt="The Fellowship Of The Ring">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> The Fellowship Of The Ring</p>
                    <p><strong>Author:</strong> J.R.R. Tolkien</p>
                    <p class="price"><strong>Price:</strong> $8.99 CAD</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('Funny Story', 'Emily Henry', 24.99)">
                <img src="images/funny_story.jpg" alt="Funny Story">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> Funny Story</p>
                    <p><strong>Author:</strong> Emily Henry</p>
                    <p class="price"><strong>Price:</strong> $24.99</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('Master Your Mind and Defy the Odds', 'David Goggins', 26.99)">
                <img src="images/master_your_mind_and_defy_the_odds.jpg" alt="Can't Hurt Me: Master Your Mind and Defy the Odds">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> Can't Hurt Me: Master Your Mind and Defy the Odds</p>
                    <p><strong>Author:</strong> David Goggins</p>
                    <p class="price"><strong>Price:</strong> $26.99 CAD</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('Unshackle Your Mind and Win the War Within', 'David Goggins', 21.99)">
                <img src="images/unshackle_your_mind_and_win_the_war_within.jpg" alt="Never Finished: Unshackle Your Mind and Win the War Within">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> Never Finished: Unshackle Your Mind and Win the War Within</p>
                    <p><strong>Author:</strong> David Goggins</p>
                    <p class="price"><strong>Price:</strong> $21.99 CAD</p>
                </div>
            </div>
            <div class="book-item" onclick="addToCart('Texture Over Taste', 'Joshua Weissman', 18.34)">
                <img src="images/texture_over_taste.jpg" alt="Joshua Weissman: Texture Over Taste">
                <div class="book-details">
                    <p><strong>Name of Book:</strong> Joshua Weissman: Texture Over Taste</p>
                    <p><strong>Author:</strong> Joshua Weissman</p>
                    <p class="price"><strong>Price:</strong> $18.34</p>
                </div>
            </div>
        </div>-->
    </div>
    <a href="index.php">Back to Main Page</a>
