<div id='contact'>
    <p>Contact Us!</p>
    <div id = 'contact_link'>
        <a href="contact.php"> Clink here to send us an email.</a>
    </div>
    <div id='contactlist'>
        <ul>
            <li>Email: books@books.ca</li>
            <li>Phone: (519) 555-5555</li>
            <li>Address: 123 ABC Street</li>
            <li>Address: 123 ABC Street</li>
            <li>Address: 123 ABC Street</li>
            <li>Address: 123 ABC Street</li>
            <li>Address: 123 ABC Street</li>
            <li>Address: 123 ABC Street</li>
        </ul>
    </div>
</div>
<img src="images/footerimage.png" alt="Footer Image" width="160" height="90">
<div id="legal">
    <ul>
        <li>© 2024 Books. All rights reserved.</li>
        <li>Privacy Policy</li>
        <li>Privacy Preferences</li>
        <li>Terms of Use</li>
    </ul>
</div>
<div id='scrolltop'>

</div>