<html>
    <head>
        <title>Books Books Books - Main Page</title>
        <link rel="stylesheet" href="mainstyle.css">
    </head>

    <body>
        <div id="header">
            <div class="header-logo"></div>
                <img src="../images/logo.png">
                <div class="header-text">Title of Store, slogan(books books books?)</div>
        <div id="main">This is a test of the body.</div>
        <div id="footer">Contact us link, address, phone number
            <img src="../images/footerimage.png">
        </div>
    </body>
</html>